/**
 * Forms
 * =================================
 * Gravity Forms generates the forms, so this changes some of those styles since you can't do it with tailwind.
 *
 *
 *
 */

.form {
  h2 {
    font-size: 2em;
    margin-bottom: 10px;
    text-align: center;
  }

  input {
    border-radius: 3px;
    color: #000000;
  }

  select,
  textarea {
    border-radius: 3px;
  }

  // I didn't generate this code, so stylelint needs to stop yelling at me.
  /* stylelint-disable selector-class-pattern, selector-no-qualifying-type, selector-max-compound-selectors */
  .gfield_description {
    padding-top: 5px !important; //gravity forms is far too specific for me to override this, so I have to use important
  }

  .ginput_container_select {
    color: #000000;
  }

  .gform_wrapper.gravity-theme .gfield textarea.large {
    color: #000000;
  }

  .gform_button {
    background-color: #ff9700;
    border-radius: 80px;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    color: #ffffff;
    font-weight: 500;
    padding: 0.5em 2em;
    transition: 0.3s;
    transition-timing-function: ease-in-out;
  }

  .gform_button:hover {
    background-color: #ff7300;
  }
  /* stylelint-enable selector-class-pattern */
}


  // Application
  .application {
    input[type="text"], input[type="tel"], input[type="email"], input[type="number"], select, textarea {
      border-radius: 10px !important;
      box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23) !important;
    }

    h2 {
      font-size: 2em;
      padding-bottom: 10px;
    }

    h3 {
      font-size: 2em;
      padding-top: 30px;
    }

    .gform_wrapper.gravity-theme .gsection {
      border-bottom: 1px solid #333333;
    }

    legend {
      padding-top: 20px !important;
    }

    .gfield_description {
      font-weight: 800;
      margin-bottom: 20px !important;
    }
    .gform_button {
      background-color: #ff9700;
      border-radius: 80px;
      box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
      color: #ffffff;
      font-weight: 500;
      padding: 0.5em 2em;
      transition: 0.3s;
      transition-timing-function: ease-in-out;
    }

    .gform_button:hover {
      background-color: #ff7300;
    }
  }


