/**
 * Gradients
 * =================================
 * - It's easier to control gradients here than in Tailwind.
 *
 *
 *
 *
 *
 */

.card-gradient-1 {
  background: linear-gradient(#0096ee, #00adee);
}

.card-gradient-2 {
  background: linear-gradient(#0000a8, #0000a8);
}

.white-gradient {
  background: linear-gradient(#f8f8ff, #d3d3dc);
}
