/**
 * Typography
 * =================================
 * - Header Fonts
 * - Everything else
 *
 *
 *
 *
 */

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "HandelGotDLig", serif;
}

* {
  font-family: "arial", sans-serif;
}

.head-font {
  font-family: "HandelGotDLig", serif;
}

.body-font {
  font-family: "arial", sans-serif;
}
