/**
 * Typography
 * =================================
 * - Header Fonts
 * - Everything else
 *
 *
 *
 *
 */

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Bebas Neue", cursive;
}

* {
  font-family: "Quattrocento", serif;
}

.head-font {
  font-family: "Bebas Neue", cursive;
}

.body-font {
  font-family: "Quattrocento", serif;
}
